.idea/*
/cordova/platforms/*
/cordova/plugins/*
/cordova/www/*
/node_modules/.bin/*
/node_modules/body-parser/*
/node_modules/co/*
/node_modules/cordovabuild/.idea/*
/node_modules/cordovabuild/node_modules/.bin/*
/node_modules/cordovabuild/node_modules/cheerio/*
/node_modules/cordovabuild/node_modules/co/*
/node_modules/cordovabuild/node_modules/fs-extra/*
/node_modules/cordovabuild/node_modules/fs.extra/*
/node_modules/cordovabuild/node_modules/plist/*
/node_modules/cordovabuild/node_modules/svn-spawn/*
/node_modules/cordovabuild/node_modules/underscore/*
/node_modules/hammer/*
/node_modules/jade/*
/node_modules/koa-body/*
/node_modules/koa-qs/*
/node_modules/koa-router/*
/node_modules/koa-static/*
/node_modules/koa-views/*
/node_modules/koa/*
/node_modules/mongoose/*
/node_modules/underscore/*
/views/.idea/*
/yigomobile/public/apk/*
/yigomobile/public/bower_components/*
/yigomobile/public/node_modules/*
