<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://github.com/digbly/ios/blob/master/%E7%A7%BB%E5%8A%A8%E5%8A%9E%E5%85%AC.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>url</key>
            <string>https://dn-bokewebapp.qbox.me/gzw.png</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>url</key>
            <string>https://dn-bokewebapp.qbox.me/gzw.png</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.sida.caeceo</string>
          <key>bundle-version</key>
          <string>12.1.2</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>本地12.1.2-del</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>