extends layout
block link
    -var selected = '使用说明';
block content
    div(class='instruction')
        h2 使用说明
            h4 1. 第一次进行iOS打包之前，一定要先请顾铭峰帮忙申请mobileprovision.
            h4 2. svn中任何文件/文件夹的名字不能包含中文
