extends layout
block link
    -var selected = '历史任务';
block content
    table(class='striped')
        thead
            tr
                td 名称
                td 标签1
                td 标签2
                td 版本
                td 创建日期
                td 状态
                td 下载地址
                td 再次打包
                td 删除任务
        tbody
    script(src='../yigomobile/public/js/history.js')
    <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <div id="addedPagination" style="display:inline"></div>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
    link(rel='stylesheet', href='../yigomobile/public/css/history.css')


