
doctype html
html
    head
        title= title
        <meta name="theme-color" content="#EE6E73">
        link(rel='stylesheet', href='../yigomobile/public/css/main.css')
        link(rel='stylesheet', href='../yigomobile/public/node_modules/materialize-css/dist/css/materialize.min.css')
        link(rel='stylesheet', href='../yigomobile/public/css/validationEngine.jquery.css')

        script(src='../yigomobile/public/node_modules/jquery/dist/jquery.js')
        script(src='../yigomobile/public/js/jquery.serializeObject.js')
        script(src='../yigomobile/public/node_modules/materialize-css/dist/js/materialize.js')
        script(src='../yigomobile/public/node_modules/underscore/underscore.js')
        script(src='../yigomobile/public/js/jquery.validationEngine.js')
        script(src='../yigomobile/public/js/jquery.validationEngine-zh_CN.js')
        //jquery validate
        script(src='../yigomobile/public/bower_components/jquery-validation/dist/jquery.validate.js')
        script(src='../yigomobile/public/bower_components/jquery-validation/src/localization/messages_zh.js')

    script(src='../yigomobile/public/node_modules/dot/doT.js')
        script(src='../yigomobile/public/js/layout.js')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block link
        -var selected = '首页'; //default
    -var menu = { '首页': '/yigomobile/main', '新增': '/yigomobile/add', '历史任务': '/yigomobile/history' };
    body
        div(class='navbar-fixed')
            nav
                div(class='nav-wrapper')
                    a(class="brand-logo") Yigo
                    ul(class='right')
                        each val, key in menu
                            if selected === key
                                li(class='active')
                                    a(href=val, title=key)= key
                            else
                                li
                                    a(href=val, title=key)= key
                        li()
                            a(href='/yigomobile/news' title='消息') 消息
                                span(class="new badge") 1
        block content
