extends layout
block link
    -var selected = '消息';
block content
    h3 2016-04-28更新
    div
        li 支持"紫江"app iOS打包
    h3 2016-04-22更新
    div
        li 错误信息更加易读
    h3 2016-04-14更新
    div
        li 支持app store版本的打包
        li 增加了参数页面,对与不同版本的app 的参数,以此页面为准
        li 修改了ios-baidu插件,使其支持不同的app
        li 调整了"新增"页面插件的顺序