extends layout
block link
    -var selected = '消息';
block content
    ul
        li 2015-12-11,打包功能升级
            li 某一个任务打包失败 不会影响后续的打包
            li 增加.升级了部分plugin
            li 增加了百度定位SDK插件,目前仅供无锡大大使用，（勾选最下方插件，并填写 4z5k9DG1QUIBWF9yEfb4Qho6 ）

    script(src='../yigomobile/public/js/main.js')
