extends layout
block link
    -var selected = '更新记录';
block content
    div(class='log')
        h5 2018-03-23
        div
            li 极大地提高了此网站的打开速度，由1分钟缩短为3s
            li 优化了文档
        h5 2016-04-28
        div
            li 支持"紫江"app iOS打包
        h5 2016-04-22
        div
            li 错误信息更加易读
        h5 2016-04-14
        div
            li 支持app store版本的打包
            li 增加了参数页面,对与不同版本的app 的参数,以此页面为准
            li 修改了ios-baidu插件,使其支持不同的app
            li 调整了"新增"页面插件的顺序
